/* ******************************************************************************* */
/* ***                                                                         *** */
/* *** style.css                                (c) Wolfram Plettscher 09/2014 *** */
/* ***                                                                         *** */
/* ******************************************************************************* */

@charset "utf-8";
/* CSS Document */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
/*	background-color: #888888; */ 
	width: 980px;
/*	height: 500px; */
}

#header {
	width: 960px%;
	height: 40px;
/*	background-color: #CFCFCF; */
/*	margin-bottom: 10px; */

  font-size: 12px;
/*  line-height: 27px; */
  padding: 0px 0px 0px 0px;
  position: relative;
/*  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */}

#cssmenu {
	width: 100%;
	height: 40px;
/*	background-color: #CFCFCF; */
	margin-bottom: 1px; 
	margin-top: 3px;
}

#contentbody {
	width: 960px;
/*	height: 500px; */
/*
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #488FFF;
*/
  font-size: 12px;
/*  line-height: 27px; */
  padding: 10px 10px 10px 10px;
  position: relative;
/*  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
}

#kicker {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 10px;
/*
    margin-top: 2px;
	margin-bottom: 2px;
*/
	text-align: left;
	font-size: 12;
	font-weight:bold;
    padding: 0px 0px 5px 5px;
	background-color: #e1e2e6;
/*	color: #516eb1; */
	color: #a80329;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 10px;
    margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 9;
/*
	background-color: #388088; 
	color: #FF0FFF;
*/
}

h1 {
	color: #516eb1;
}

h2 {
	color: #516eb1;
}
h3 {
	color: #516eb1;
}
b {
	color: #516eb1;
}
td {
	font-size: 12;
}

input {
	background-color: #e1e2e6;
}

/* ******************************************************************************* */
/* ***                                                                         *** */
/* *** sqltable                                                                *** */
/* ***                                                                         *** */
/* ******************************************************************************* */

.sqltableone {
  background: #516eb1;
  -webkit-box-shadow: 0 -4px 0 #516eb1, 0 -5px 0 #a6afd6, 0 -6px 0 #516eb1;
  -moz-box-shadow: 0 -4px 0 #516eb1, 0 -5px 0 #a6afd6, 0 -6px 0 #516eb1;
  box-shadow: 0 -4px 0 #516eb1, 0 -5px 0 #a6afd6, 0 -6px 0 #516eb1;
  color: #ffffff;
	text-align: left;
	font-weight:bold;
	font-size: 12px;

}
.sqltableone_old {


/*	margin-right: 10px; */
	text-align: left;
	font-weight:bold;
	font-size: 12px;
/*	background-color: #758596; */
	background-color: #516eb1;
	color: white;
}

.sqltableeven {
/*	margin-right: 10px; */
	text-align: left;
	font-size: 12px;
	background-color: #ffffff;
	color: black;
}

.sqltableodd {
/*	margin-right: 10px; */
	text-align: left;
	font-size: 12px;
	background-color: #e1e2e6;
	color: black;
}

/* ******************************************************************************* */
/* ***                                                                         *** */
/* *** css-button                                                              *** */
/* ***                                                                         *** */
/* ******************************************************************************* */

<style type="text/css">
.css_btn_class {
 
}.css_btn_class:hover {
 

}.css_btn_class:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */
</style>
